body {
  background: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  color: #212121;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 100%;
}

#log_in form {
  padding: 2rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background: white;
  max-width: 270px;
  width: 66%;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: right;
}

#log_in form p {
  text-align: left;
}

#container {
  position: relative;
  margin: auto;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

#container.nav_open,
#container.modal_open {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  min-height: 100%;
}

header {
  width: 100%;
  background: #0069c0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

header a {
  color: white;
}

#nav_control {
  display: inline-block;
  vertical-align: middle;
}

#header_title {
  display: inline-block;
  vertical-align: middle;
  color: #fafafa;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 56px;
  margin: 0;
  max-width: calc(100% - 51px);
}

#header_top a {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #6ec6ff;
}

#header_subtitle {
  color: white;
  display: inline-block;
  width: calc(100% - 25px);
  font-weight: normal;
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0;
  text-align: left;
}

#header_stats {
  width: 100%;
  background-color: #2196f3;
  position: relative;
  overflow: hidden;
}

#header_stats .inner {
  padding: 1rem 25px 0 50px;
  max-width: 800px;
  margin: auto;
}

#header_stats ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

#header_stats ul li {
  margin: 0 25px 1rem 0;
}

.header_stat {
  color: #bbdefb;
}

.header_stat .stat_label {
  font-size: 0.8rem;
}

.header_stat .stat_value {
  color: white;
  font-size: 1.2rem;
  white-space: nowrap;
}

.header_stat .stat_subtitle {
  font-size: 0.8rem;
}

.header_stat i {
  font-size: 1rem;
}

.header_stat.text_value .stat_value {
  font-size: 1.1rem !important;
  white-space: initial !important;
}

#header_stats ul:last-of-type {
  margin-bottom: 0.5rem;
}

#header_actions {
  position: absolute;
  top: 1rem;
  left: calc(100% - 40px);
}

#header_actions .actions_menu_toggler button i {
  color: #6ec6ff;
}

#header_actions .dropdown {
  position: absolute;
  top: 0;
  right: 1rem;
  opacity: 0;
  background: white;
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.15s;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

#header_actions .dropdown.open {
  transform: scale(1);
  opacity: 1;
}

#header_actions .dropdown ul {
  margin: 0;
  padding: 0;
}

#header_actions .dropdown ul li {
  white-space: nowrap;
  margin: 0;
}

#header_actions button {
  background: transparent;
  border: none;
}

#header_actions button:hover {
  cursor: pointer;
}

#header_actions .dropdown ul li form button:hover {
  background: rgba(0, 0, 0, 0.1);
}

#header_actions .dropdown ul li form button i {
  vertical-align: middle;
  margin-right: 0.5rem;
}

nav {
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.15s;
  background: #0069c0;
  min-height: 100%;
  max-width: 200px;
}

nav.open {
  left: 0;
  z-index: 9999;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -7px rgba(0, 0, 0, 0.2);
}

nav ul li {
  display: block;
  width: 100%;
  float: none;
}

nav ul li.nav_item a i {
  display: inline-block !important;
  font-size: 1.4rem !important;
  height: auto !important;
  line-height: 1 !important;
  vertical-align: text-top;
  margin-right: 1rem;
}

nav .user {
  line-height: normal;
  height: calc(100vh - 56px - 56px - 56px);
  position: relative;
}
nav .user_meta {
  padding: 1.25rem 1rem;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 66.6%;
  overflow: hidden;
}
nav .user .avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

nav .user .text_meta {
  display: inline-block;
  width: calc(100% - 30px - 1rem);
  vertical-align: middle;
  margin-left: 1rem;
}

nav .user .text_meta span {
  display: block;
  line-height: 1.4;
  font-size: 1rem;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

nav .user .text_meta .email {
  font-size: 0.8rem;
}

nav .cta.log_out {
  padding: 1rem 0;
  width: 100%;
  text-align: right;
}

nav .cta.log_out button {
  color: white;
}

#overlay {
  transition: all 0.15s;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
}

#overlay.visible {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 9998;
}

a {
  color: #2962ff;
}

.positive {
  color: #2196f3;
}

.negative {
  color: #ff5722;
}

table .value {
  display: block;
  font-size: 1.4rem;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: white;
  overflow: scroll;
  opacity: 0;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}

#modal.open {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1000;
}

#modal_top {
  background: #0069c0;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

#modal_control {
  display: inline-block;
  vertical-align: middle;
}

#modal_control button {
  width: 50px;
  text-align: middle;
  background: transparent;
  border: none;
}

#modal_control button i {
  color: white;
}

#modal_title {
  font-size: 1.2rem;
  display: inline-block;
  color: white;
  margin: 0;
  line-height: 56px;
  vertical-align: middle;
}

#modal_title i {
  font-size: 1.2rem;
  line-height: 1.1;
  vertical-align: text-bottom;
  margin: 0 0.2rem;
  opacity: 0.8;
}

#log {
  max-width: 800px;
  position: relative;
  width: 100%;
  margin: 0.75rem auto 6rem auto;
}

#log .loading {
  margin: 0;
  padding-top: 1.75rem;
  padding-left: 50px;
}

#log td {
  padding: 1rem;
}

#log td:first-child {
  padding-left: 50px;
}

#log td:last-child {
  padding-right: 50px;
  text-align: right;
}

#log .empty_state {
  padding-top: 2rem;
  padding-left: 50px;
}

.floating_action_button {
  position: fixed;
  top: calc(100vh - 56px - 112px);
  right: 2rem;
  display: inline-block;
  z-index: 1;
  transform: translateZ(0);
}

.floating_action_button button {
  background-color: #ff5722 !important;
}

td span.time {
  display: block;
  color: #bdbdbd;
}

td span.value {
  font-size: 1.4rem;
}

.cta {
  text-align: right;
}

.section_label {
  display: block;
}

.entry_details {
  padding: 2rem 50px 0 50px;
  max-width: 940px;
  margin: auto;
  font-size: 1.2rem;
}

.entry_details ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.entry_details .detail {
  margin: 0 1rem 2rem 0;
}

.new_item .section_label {
  margin-top: 1rem;
  margin-left: 0.75rem;
}

.new_item {
  padding: 1rem calc(2rem - 0.75rem) 0.5rem calc(2rem - 0.75rem);
  margin-bottom: 1rem;
  background: white;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.new_item button {
  margin-right: -16px;
}

.new_item .section_label {
  display: block;
  max-width: 800px;
  margin: auto;
}

.new_item form {
  max-width: 800px;
  margin: auto;
}

.item_table {
  max-width: 800px;
  margin: auto;
  padding-bottom: 6rem;
}

.empty_state {
  padding-left: 1rem;
}

.find_options {
  margin: auto;
  transition: all 0.15s;
  overflow: hidden;
  position: relative;
  margin-bottom: 0.5rem;
}
.find_options.open {
  padding-bottom: 160px;
}
.find_options_toggle {
  display: inline-block;
}

.find_options_toggle button i {
  vertical-align: bottom;
  font-size: 15px;
  transition: transform 0.15s;
}

.find_options_toggle.open i {
  transform: rotate(90deg);
}

#find_options {
  width: calc(100% - 4rem);
  overflow: hidden;
  transition: all 0.15s;
  transform: translateY(-100%);
  opacity: 0;
  position: absolute;
  top: 36px;
  left: 2rem;
  z-index: -1;
}

#find_options.open {
  opacity: 1;
  transform: translateY(0);
  z-index: 0;
}

.sort_options li {
  font-size: 11px;
}

.sort_options li i {
  font-size: 11px;
  line-height: 11px;
  vertical-align: text-top;
}

.item_table table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.item_table table td {
  padding: 1rem 0.5rem;
}

.item_table table td:first-child {
  padding-left: 1rem;
}

.items {
  margin: 1rem auto;
  padding-bottom: 6rem;
  max-width: 800px;
}

.items .find_options {
  margin-bottom: 0;
}

.items table td {
  padding: 1rem 0.5rem;
}

.items table td:first-child {
  padding-left: 16px;
}

.create_item {
  padding: 2rem calc(50px - 0.75rem);
  max-width: 800px;
}

.create_item button {
  margin-right: -16px;
}

.charts {
  background: white;
  padding-top: 2rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.charts div {
  margin: auto;
  max-width: 800px;
  margin-bottom: 3rem;
}

.charts .line_chart {
  padding: 0 2rem;
  margin-bottom: 0;
}

.item_log {
  max-width: 800px;
  margin: auto;
}

.item_log td:first-child,
.item_log .empty_state {
  padding-left: 50px;
}

.item_log td:last-child {
  text-align: right;
  padding-right: 50px;
}
